<section>
         <h2>Welcome to car sales</h2>
		<form>
			<div class="form-group">
				<label for="searchbox">What are you looking for?</label>
				<input id="searchbox" type="text" ng-model="search" class="form-control">
			</div>
		</form>
		
		<div>
		<table class="table table-striped">
			<tr>
				<th>Description</th>
				<th>Make</th>
				<th>Model</th>
				<th>Year</th>
				<th>Price</th>
			</tr>
			<tr ng-repeat="ad in ads | filter:search" ng-click="showAdvert(ad)">
				<th>{{ad.description}}</th>
				<th>{{ad.vehicle.make}}</th>
				<th>{{ad.vehicle.model}}</th>
				<th>{{ad.vehicle.year}}</th>
				<th>{{ad.price}}</th>
			</tr>
				
		</table>
		</div>
		<div class="right-button">
          <a href="#/new-advert" class="btn btn-primary" role="button">New Advert</a>
        </div>
	</section>