@CHARSET "ISO-8859-1";

.right-button {
	position: relative;
	top: 20px;
	right: 20px;
	float: right;
}

footer {
	position: relative;
	top: 70px;
}
.ad-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}
.ad-container > * {
  padding: 10px;
  flex: 1 100%;
}
.ad-header {
	font-size: 175%;
	/* background: deepskyblue; */
	padding-left: 40px;
}
.ad-image {
    /* background: blue; */
    display: flex;
}
.ad-image img  {
	margin: auto;
}
.ad-key-details {
    /* background: tomato; */
}
.ad-description {
	/* background: lightgreen; */
	padding-left: 50px;
}
.ad-detail {
	margin: 20px;
}
.ad-value {
	font-weight: bold;
}
.ad-price {
	font-size: 150%;
}
.ad-description-header {
	font-weight: bold;
}

@media all and (min-width: 800px) {
  .ad-image { order: 1; flex: 1 auto; } 
  .ad-key-details { order: 2; flex: 2 auto;  }
  .ad-description { order: 3; }
}