@CHARSET "ISO-8859-1";

.right-button {
	position: relative;
	top: 20px;
	right: 20px;
	float: right;
}

footer {
	position: relative;
	top: 70px;
}

img.viewad {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.ad-container {
	display: -webkit-flex;
	display: flex;
	width: 800px;
	height: 380px;
	background-color: lightgrey;
	position: relative;
	flex-direction: column;
}

.ad-header {
	height: 30px;
	width: 600px;
	font-size: 175%;
	margin: auto;
}

.ad-content {
	display: flex;
	flex-direction: row;
	height: 240px;
	width: 700px;
	margin-left: 40px;
	margin-right: 40px;
}
.ad-image {
    width: 350px;
    height: 200px;
}
.ad-key-details {
    width: 300px;
    height: 240px;
}
.ad-description {
	height: 40px;
	width: 500px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.ad-detail {
	margin: 20px;
}
.ad-value {
	font-weight: bold;
}
.ad-price {
	font-size: 150%;
}
.ad-description-header {
	font-weight: bold;
}